name: Python Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-html

      - name: Run tests with XML & HTML reports
        run: |
          mkdir -p reports
          pytest tests/ --junitxml=reports/test-results.xml --html=reports/report.html --self-contained-html

      - name: Upload test reports
        uses: actions/upload-artifact@v5
        with:
          name: test-reports
          path: reports/

  deploy:
    runs-on: ubuntu-latest
    needs: test  # ✅ ce job s'exécute seulement si 'test' réussit
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy application 
        run: |
          ENV=${{ github.event.inputs.env || 'staging' }}
          echo "Deploying application to $ENV..."
  notify:
    runs-on: ubuntu-latest
    needs: test
    if: always()   # s’exécute même si les tests échouent
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download test reports
        uses: actions/download-artifact@v5
        with:
          name: test-reports
          path: reports

      - name: Send email with test report
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp@gmail.com
          server_port: 465
          username: ${{ secrets.GMAIL_USERNAME }}
          password: ${{ secrets.GMAIL_PASSWORD }}
 

          subject: >
            [${{ needs.test.result }}] ${{ github.repository }}

          from: ouelhazifir@gmail.com
          to: ouelhazifir@gmail.com
  

          body: |
            Repository: ${{ github.repository }}
            Job status: ${{ needs.test.result }}
            Commit SHA: ${{ github.sha }}

          attachments: reports/test-results.xml

