name: Python Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-html

      - name: Run tests with XML & HTML reports
        run: |
          mkdir -p reports
          pytest tests/ --junitxml=reports/test-results.xml --html=reports/report.html --self-contained-html

      - name: Upload test reports
        uses: actions/upload-artifact@v5
        with:
          name: test-reports
          path: reports/

  deploy:
    runs-on: ubuntu-latest
    needs: test  # ✅ ce job s'exécute seulement si 'test' réussit
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy application 
        run: |
          ENV=${{ github.event.inputs.env || 'staging' }}
          echo "Deploying application to $ENV..."
